<!DOCTYPE html>
<html>
  
<head>
    <title>65292panel.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />

    <link rel="icon" type="image/ico" href="assets/images/favicon.ico" />
    
	
	
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
 <link href="assets/css/minimal.css" rel="stylesheet">

   
  </head>

    <body class="bg-1">
    <form style="height:100%; overflow: hidden;">
    <!-- Preloader -->
    <div class="mask"><div id="loader"></div></div>
    <!--/Preloader -->
   
   


    
    <div id="wrap">

      


     
      <div class="row">
        




        
        <div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top collapsed" role="navigation" id="navbar">
          


         
          <div class="navbar-header col-md-2">
            <a class="navbar-brand" href="index-2.html">
              <strong>65292</strong>Panel
            </a>
            <div class="sidebar-collapse">
              <a href="#">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div>
          


          
          <div class="navbar-collapse">
                        
           
            <ul class="nav navbar-nav refresh">
              <li class="divided">
                <a href="#" class="page-refresh"><i class="fa fa-refresh"></i></a>
              </li>
            </ul>
           

            <ul class="nav navbar-nav quick-actions">
              
              <li class="dropdown divided">
                
                <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
                  <i class="fa fa-tasks"></i>
                  <span class="label label-transparent-black">2</span>
                </a>

                <ul class="dropdown-menu wide arrow nopadding bordered">
                      <li><h1><strong>1</strong> new Update</h1></li>
					  <li>
                    <a href="#">
                      <div class="task-info">
                        <div class="desc">Theme Update</div>
                        <div class="percent">60%</div>
                      </div>
                      <div class="progress progress-striped progress-thin">
                        <div class="progress-bar progress-bar-amethyst" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                 
                </ul>

              </li>

              <li class="dropdown divided">
                
                <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
                  <i class="fa fa-envelope"></i>
                  <span class="label label-transparent-black">1</span>
                </a>

                <ul class="dropdown-menu wider arrow nopadding messages">
                  <li><h1><strong>65292panel.com</strong> News</h1></li>
                  <li>
                    <a class="cyan" href="#">
                      <div class="message-info">
                        <span class="sender">Theme Update</span>
                        <span class="time">05/01/2019</span>
                        <div class="message-content">Theme update in progress</div>
                      </div>
                    </a>
                  </li>

                  
                </ul>

              </li>

              <li class="dropdown divided">
                
                <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
                  <i class="fa fa-bell"></i>
                  <span class="label label-transparent-black">3</span>
                </a>

                <ul class="dropdown-menu wide arrow nopadding bordered">
                  <li><h1><strong>Stats</strong></h1></li>
                  
                  <li>
                    <a href="#">
                      <span class="label label-green"><i class="fa fa-user"></i></span>
                      2000+ Members
                      <span class="small"></span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <span class="label label-red"><i class="fa fa-power-off"></i></span>
                      90% + server uptime
                      <span class="small"></span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <span class="label label-orange"><i class="fa fa-plus"></i></span>
                      Automatic order processing
                      <span class="small"></span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <span class="label label-cyan"><i class="fa fa-power-off"></i></span>
                      200+ services 
                      <span class="small"></span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <span class="label label-amethyst"><i class="fa fa-power-off"></i></span>
                      50K + orders Processed
                      <span class="small"></span>
                    </a>
                  </li>

                   <li><a href="#">@<i class="fa fa-angle-right"></i></a></li>
                </ul>

              </li>

              <li class="dropdown divided user" id="current-user">
                <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
                    <input type="text" class="form-control" id="username" value="{{ user['username'] }}" readonly><i class="fa fa-caret-down"></i>
                </a>
                
                <ul class="dropdown-menu arrow settings">

                  <li>
                    
                    <h3>Backgrounds:</h3>
                    <ul id="color-schemes">
                      <li><a href="#" class="bg-1"></a></li>
                      <li><a href="#" class="bg-2"></a></li>
                      <li><a href="#" class="bg-3"></a></li>
                      <li><a href="#" class="bg-4"></a></li>
                      <li><a href="#" class="bg-5"></a></li>
                      <li><a href="#" class="bg-6"></a></li>
                      <li class="title">Solid Backgrounds:</li>
                      <li><a href="#" class="solid-bg-1"></a></li>
                      <li><a href="#" class="solid-bg-2"></a></li>
                      <li><a href="#" class="solid-bg-3"></a></li>
                      <li><a href="#" class="solid-bg-4"></a></li>
                      <li><a href="#" class="solid-bg-5"></a></li>
                      <li><a href="#" class="solid-bg-6"></a></li>
                    </ul>


                  </li>

                  <li class="divider"></li>





                  <li class="divider"></li>

                  <li>
                    <a href="#"><i class="fa fa-user"></i> Profile</a>
                  </li>

                  <li>
                    <a href="#"><i class="fa fa-power-off"></i> Logout</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#mmenu"></a>
              </li>
            </ul>
        



          
            <ul class="nav navbar-nav side-nav" id="sidebar">

              <li class="collapsed-content">
                <ul>
                  <li class="search"></li>
                </ul>
              </li>

              <li class="navigation" id="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="#navigation">Navigation <i class="fa fa-angle-up"></i></a>

                <ul class="menu">

                  <li class="active">
                    <a href="index-2.html">
                      <i class="fa fa-tachometer"></i> New Order
                      <span class="badge badge-red">1</span>
                    </a>
                  </li>

                  <li class="dropdown">
                    <a href="/services" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-list"></i> Services
                    </a>
                  </li>

                  <li class="dropdown">
                    <a href="/orders" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-pencil"></i> Orders 
                    </a>
                  </li>

                  <li>
                    <a href="/addfunds">
                      <i class="fa fa-money"></i> Add Funds
                    </a>
                  </li>
				  
                  <li>
                    <a href="/faq">
                      <i class="fa fa-question"></i> FAQ
                    </a>
                  </li>

                  <li class="dropdown">
                    <a href="/tickets" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-ticket"></i> Tickets
                    </a>
                   
                  </li>

               

                  <li>
                    <a href="/terms">
                      <i class="fa fa-handshake-o"></i> Terms
                    </a>
                  </li>

                  <li>
                    <a href="/affiliates">
                      <i class="fa fa-link"></i> affiliates
                    </a>
                  </li>

                

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i> Admins <b class="fa fa-plus dropdown-plus"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#"><i class="fa fa-caret-right"></i> @65292</a></li>
                          <li><a href="#"><i class="fa fa-caret-right"></i> @65292panel</a></li>
						   <li><a href="#"><i class="fa fa-caret-right"></i> @king_borris</a></li>
						    <li><a href="#"><i class="fa fa-caret-right"></i> @65292_admin</a></li>
                          <li class="dropdown">
                          </li>
                        </ul>
                      </li>

                    </ul>
                  </li>

                </ul>

              </li>

             

            


            </ul>
         





          </div>
         





        </div>
     
        




        
       
        <div id="content" class="col-md-12">
          








          
          <div class="pageheader">
            

            <h2><i class="fa fa-tachometer"></i> Dashboard
            <span>// 65292panel.com</span></h2>
            

           


          </div>
        
          
          




       
          <div class="main">



            
            <div class="row cards">
              
              <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-redbrown hover">
                  <div class="front"> 

                    <div class="media">        
                      <span class="pull-left">
                        <i class="fa fa-users media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>New Users</small>
                        <h2 class="media-heading animate-number" data-value="463" data-animation-duration="1500">0</h2>
                      </div>
                    </div> 

                   

                  </div>
                  <div class="back">
                    <a href="#">
                      <i class="fa fa-bar-chart-o fa-4x"></i>
                      <span>2000+ Total users</span>
                    </a>  
                  </div>
                </div>
              </div>


              <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-blue hover">
                  <div class="front">        
                    
                    <div class="media">                  
                      <span class="pull-left">
                        <i class="fa fa-shopping-cart media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>New Orders</small>
                        <h2 class="media-heading animate-number" data-value="19214" data-animation-duration="1500">0</h2>
                      </div>
                    </div> 

                   

                  </div>
                  <div class="back">
                    <a href="#">
                      <i class="fa fa-bar-chart-o fa-4x"></i>
                      <span>Check Summary</span>
                    </a>
                  </div>
                </div>
              </div>



              <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                <div class="card card-greensea hover">
                  <div class="front">        
                    
                    <div class="media">
                      <span class="pull-left">
                        <i class="fa fa-usd media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>Sales</small>
                        <h2 class="media-heading animate-number" data-value="$20K+" data-animation-duration="1500">0</h2>
                      </div>
                    </div>

                   

                  </div>
                  <div class="back">
                    <a href="#">
                      <i class="fa fa-bar-chart-o fa-4x"></i>
                      <span>Check Summary</span>
                    </a>
                  </div>
                </div>
              </div>


              <div class="card-container col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-slategray hover">
                  <div class="front"> 

                    <div class="media">                   
                      <span class="pull-left">
                        <i class="fa fa-eye media-object"></i>
                      </span>

                      <div class="media-body">
                        <small>Visits</small>
                        <h2 class="media-heading animate-number" data-value="200K+" data-animation-duration="1500">0</h2>
                      </div>
                    </div> 

                   

                  </div>
                  <div class="back">
                    <a href="#">
                      <i class="fa fa-bar-chart-o fa-4x"></i>
                      <span>Check Summary</span>
                    </a>
                  </div>
                </div>
              </div>


            </div>
           
		   
		   <section class="SocialMedia">
    <div class="container">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 wow fadeInLeft welcomeSection" style="visibility: visible; animation-name: fadeInLeft;">
        <h1>Social Media Marketing</h1>
        <p>SMM (Social Media Marketing) is the use of social media platforms such as Instagram, Facebook, Twitter, Youtube and many more to promote yourself or your company. If you are looking for a way to boost your online presence, then your best choice is to use JAP (JustAnotherPanel) where we offer services to help you boost your online presence across ALL social media platforms for the cheapest prices.
        </p>
      <a href="/services" class="btnMain wow flipInX" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: flipInX;">Our Services</a>
    </div>
    <!--col-lg-5-->
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="facbookBox  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                <a href="/services">
                <img src="https://yourperfectapp.com/jap/images/facebook.png">
                </a>
                </div>
                <!--facbookBox-->
                <div class="facbookBox twitterBox wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInDown;">
                <a href="/services">
                <img src="https://yourperfectapp.com/jap/images/twitter.png">
                </a>
                </div>
                <!--twitterBox-->
            </div>
            <!--col-lg-4-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="facbookBox instgramBox wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeInUp;">
                <a href="/services">
                <img src="https://yourperfectapp.com/jap/images/instagram.png">
                </a>
                </div>
                <!--facbookBox-->
                <div class="facbookBox twitterBox wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeInDown;">
                <a href="/services">
                <img src="https://yourperfectapp.com/jap/images/soundcloud.png">
                </a>
                </div>
                <!--twitterBox-->
            </div>
            <!--col-lg-4-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="facbookBox wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.6s" style="visibility: visible; animation-duration: 1s; animation-delay: 1.6s; animation-name: fadeInUp;">
                <a href="/services">
                <img src="https://yourperfectapp.com/jap/images/youtube.png">
                </a>
                </div>
                <!--facbookBox-->
                <div class="facbookBox twitterBox wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.6s" style="visibility: visible; animation-duration: 1s; animation-delay: 1.6s; animation-name: fadeInDown;">
                <a href="/services">
                <img src="https://yourperfectapp.com/jap/images/linkdin.png">
                </a>
                </div>
                <!--twitterBox-->
            </div>
            <!--col-lg-4-->
        </div>
        <!--row-->
    </div>
    <!--col-lg-7-->
    </div>
    <!--container-->
</section>
		   
		   
            
            
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <form {% if site['rtl'] %} class="rtl-form"{% endif %} action="/" method="post" id="order-form">
          {% if error %}
            <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ errorMessage }}
            </div>
          {% endif %}

          {% if 1 == success %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4>{{lang('neworder.message.success')}}</h4>
              {{lang('neworder.id')}}: {{order['id']}}<br>
              {{lang('neworder.service')}}: {{order['service']}}
              <br>
              {{lang('neworder.link')}}: {{order['link']}}<br>
              {{lang('neworder.quantity')}}: {{order['quantity']}}<br>
              {{lang('neworder.charge')}}: {{order['charge']}}<br>
              {{lang('neworder.balance')}}: {{order['balance']}}<br>
            </div>
          {%endif%}

          {% if 2 == success %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4>{{lang('neworder.message.success')}}</h4>
              {{lang('neworder.subscription_id')}}: {{order['id']}}<br>
              {{lang('neworder.service')}}: {{order['service']}}
              <br>
              {{lang('neworder.username')}}: {{order['link']}}<br>
              {{lang('neworder.quantity')}}:
              {% if order['quantity_min'] == order['quantity_max'] %}
                {{order['quantity_max']}}
              {% else %}
                {{order['quantity_min']}}-{{order['quantity_max']}}
              {%endif%}
              <br>
              {{lang('neworder.new_posts')}}:
              {% if 0 == order['posts'] %}
                &#8734;
              {% else %}
                {{order['posts']}}
              {%endif%}
              <br>
              {{lang('neworder.delay')}}:
              {{order['delay']}}
              <br>
            </div>
          {%endif%}

          {% if categories %}
            <div class="form-group">
              <label for="orderform-category" class="control-label">{{ lang('neworder.category') }}</label>
              <select class="form-control" id="orderform-category" name="OrderForm[category]">
                {% for categoryId,categoryName in categories %}
                  <option value="{{ categoryId }}" {% if categoryId == data['category'] %} selected {%endif%}>{{ categoryName }}</option>
                {%endfor%}
              </select>
            </div>
          {% endif %}
          <div class="form-group">
            <label for="orderform-service" class="control-label">{{ lang('neworder.service') }}</label>
            <select class="form-control" id="orderform-service" name="OrderForm[service]"></select>
          </div>
          <div class="form-group hidden fields" id="service_description">
            <label for="service_description" class="control-label">{{ lang('neworder.description') }}</label>
            <div class="panel-body border-solid border-rounded">
                {{service['description']}}
            </div>
          </div>

          <div id="fields"></div>

          <div class="form-group">
            <label for="charge" class="control-label">{{ lang('neworder.charge') }}</label>
            <input type="text" class="form-control" id="charge" value="{{ order['charge'] }}" readonly>
          </div>

          {% if check_agreement %}
            <div class="form-group">
              <label class="control-label terms">
                <input type="checkbox"  name="OrderForm[termsofservice]" class="terms-accept-checkbox" value="1" id="terms" {{data['termsofservice'] ? 'checked' : ''}}> {{lang('signup.accept_terms_text')}}
                <a  href="/terms" target="_blank">{{ lang('terms.terms_of_service') }}</a>
              </label>
            </div>
          {%endif%}

          <input type="hidden" name="_csrf" value="{{ csrftoken }}">
          <button type="submit" class="btn btn-primary">{{ lang('neworder.button') }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% if newOrderText %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well {% if site['rtl'] %} rtl-content {% endif %}">
          {{ newOrderText }}
        </div>
      </div>
    </div>
  </div>
{% endif %}

           


              </div>
           



             
                



               



               
                <section class="tile transparent">




                  

                
                


                </section>
              


              </div>
             
              
              
            </div>
         


         
            <div class="row">




           
              <div class="col-md-6">

                
               


              </div>
         




             
              <div class="col-md-6">



              
                <section class="tile transparent">




                



                 
                  <div class="tile-body nopadding">
                    <div id="quick-message-content"></div>
                  </div>
               


                 

                


                </section>
                

              


              </div>
              
              



            </div>
        



          </div>
         






        </div>
        




        <div id="mmenu" class="right-panel">
          
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#mmenu-users" data-toggle="tab"><i class="fa fa-users"></i></a></li>
            <li class=""><a href="#mmenu-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
            <li class=""><a href="#mmenu-friends" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
            <li class=""><a href="#mmenu-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
          </ul>
              
  
        </div>






      </div>
  




    </div>
    



    <section class="videocontent" id="video"></section>



   
    <script src="assets/js/vendor/bootstrap/jquery.js"></script>
   
   
	  <script src="assets/js/vendor/bootstrap/bootstrap.min.js"></script>
	  
	 

   
  

    <script>
    $(function(){

 
      $('.card.hover').hover(function(){
        $(this).addClass('flip');
      },function(){
        $(this).removeClass('flip');
      });

      
      var d1 =[ [1, 715],
            [2, 985],
            [3, 1525],
            [4, 1254],
            [5, 1861],
            [6, 2621],
            [7, 1987],
            [8, 2136],
            [9, 2364],
            [10, 2851],
            [11, 1546],
            [12, 2541]
      ];
      var d2 =[ [1, 463],
                [2, 578],
                [3, 327],
                [4, 984],
                [5, 1268],
                [6, 1684],
                [7, 1425],
                [8, 1233],
                [9, 1354],
                [10, 1200],
                [11, 1260],
                [12, 1320]
      ];
      var months = ["January", "February", "March", "April", "May", "Juny", "July", "August", "September", "October", "November", "December"];

     
      var plot = $.plotAnimator($("#statistics-chart"), 
        [
          {
            label: 'Sales', 
            data: d1,    
            lines: {lineWidth:3}, 
            shadowSize:0,
            color: '#ffffff'
          },
          { label: "Visits",
            data: d2, 
            animator: {steps: 99, duration: 500, start:200, direction: "right"},   
            lines: {        
              fill: .15,
              lineWidth: 0
            },
            color:['#ffffff']
          },{
            label: 'Sales',
            data: d1, 
            points: { show: true, fill: true, radius:6,fillColor:"rgba(0,0,0,.5)",lineWidth:2 }, 
            color: '#fff',        
            shadowSize:0
          },
          { label: "Visits",
            data: d2, 
            points: { show: true, fill: true, radius:6,fillColor:"rgba(255,255,255,.2)",lineWidth:2 }, 
            color: '#fff',        
            shadowSize:0
          }
        ],{ 
        
        xaxis: {

          tickLength: 0,
          tickDecimals: 0,
          min:1,
          ticks: [[1,"JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"], [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"]],

          font :{
            lineHeight: 24,
            weight: "300",
            color: "#ffffff",
            size: 14
          }
        },
        
        yaxis: {
          ticks: 4,
          tickDecimals: 0,
          tickColor: "rgba(255,255,255,.3)",

          font :{
            lineHeight: 13,
            weight: "300",
            color: "#ffffff"
          }
        },
        
        grid: {
          borderWidth: {
            top: 0,
            right: 0,
            bottom: 1,
            left: 1
          },
          borderColor: 'rgba(255,255,255,.3)',
          margin:0,
          minBorderMargin:0,              
          labelMargin:20,
          hoverable: true,
          clickable: true,
          mouseActiveRadius:6
        },
        
        legend: { show: false}
      });

      $(window).resize(function() {
        plot.resize();
        plot.setupGrid();
        plot.draw();
      });

      $('#mmenu').on(
        "opened.mm",
        function()
        {
          plot.resize();
          plot.setupGrid();
          plot.draw();
        }
      );

      $('#mmenu').on(
        "closed.mm",
        function()
        {
          plot.resize();
          plot.setupGrid();
          plot.draw();
        }
      );


      $("#statistics-chart").bind("plothover", function (event, pos, item) {
        if (item) {
          var x = item.datapoint[0],
              y = item.datapoint[1];

          $("#tooltip").html('<h1 style="color: #418bca">' + months[x - 1] + '</h1>' + '<strong>' + y + '</strong>' + ' ' + item.series.label)
            .css({top: item.pageY-30, left: item.pageX+5})
            .fadeIn(200);
        } else {
          $("#tooltip").hide();
        }
      });

      

      $("<div id='tooltip'></div>").css({
        position: "absolute",

        padding: "10px 20px",
        "background-color": "#ffffff",
        "z-index":"99999"
      }).appendTo("body");

      $('.pie-chart').easyPieChart();


   
      var graph;

      var seriesData = [ [], []];
      var random = new Rickshaw.Fixtures.RandomData(50);

      for (var i = 0; i < 50; i++) {
        random.addData(seriesData);
      }

      graph = new Rickshaw.Graph( {
        element: document.querySelector("#serverload-chart"),
        height: 150,
        renderer: 'area',
        series: [
          {
            data: seriesData[0],
            color: '#6e6e6e',
            name:'File Server'
          },{
            data: seriesData[1],
            color: '#fff',
            name:'Mail Server'
          }
        ]
      } );

      var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
      });

      setInterval( function() {
        random.removeData(seriesData);
        random.addData(seriesData);
        graph.update();

      },1000);

     
      Morris.Donut({
        element: 'browser-usage',
        data: [
          {label: "Chrome", value: 25},
          {label: "Safari", value: 20},
          {label: "Firefox", value: 15},
          {label: "Opera", value: 5},
          {label: "Internet Explorer", value: 10},
          {label: "Other", value: 25}
        ],
        colors: ['#00a3d8', '#2fbbe8', '#72cae7', '#d9544f', '#ffc100', '#1693A5']
      });

      $('#browser-usage').find("path[stroke='#ffffff']").attr('stroke', 'rgba(0,0,0,0)');

     
      $('#projectbar1').sparkline('html', {type: 'bar', barColor: '#22beef', barWidth: 4, height: 20});
      $('#projectbar2').sparkline('html', {type: 'bar', barColor: '#cd97eb', barWidth: 4, height: 20});
      $('#projectbar3').sparkline('html', {type: 'bar', barColor: '#a2d200', barWidth: 4, height: 20});
      $('#projectbar4').sparkline('html', {type: 'bar', barColor: '#ffc100', barWidth: 4, height: 20});
      $('#projectbar5').sparkline('html', {type: 'bar', barColor: '#ff4a43', barWidth: 4, height: 20});
      $('#projectbar6').sparkline('html', {type: 'bar', barColor: '#a2d200', barWidth: 4, height: 20});

     
      $('.table.table-sortable th.sortable').click(function() {
        var o = $(this).hasClass('sort-asc') ? 'sort-desc' : 'sort-asc';
        $('th.sortable').removeClass('sort-asc').removeClass('sort-desc');
        $(this).addClass(o);
      });

    
      $('#todolist li label').click(function() {
        $(this).toggleClass('done');
      });

  
      $('.tabdrop').tabdrop({text: '<i class="fa fa-th-list"></i>'});

    
      $('#quick-message-content').summernote({
        toolbar: [
        
          ['style', ['bold', 'italic', 'underline', 'clear']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']],
       
        ],
        height: 143   
      });

      
      $(".chosen-select").chosen({disable_search_threshold: 10});
      
    })
      
    </script>
              </form>
  </body>


</html>
      
